<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
    <style>
      h1 {
        color: rgb(128, 0, 0);
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Create account</a></li>
        <li><a href="/social">Social</a></li>
      </ul>
    </nav>
    {% if current_user.is_authenticated %}
    <h1>Your name is {{ current_user.username }}</h1>
    <h1>You are logged in</h1>
    <h1>Streak: {{ current_user.streak }}</h1>
    <a class="logout" href="/logout">Logout</a>
    {% else %}
    <h1>You are not logged in</h1>
    {% endif %}
  </body>
</html>