<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/social">Social</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a href="/templates">Templates</a></li>
        <li style="float:right"><a class="logout" href="/logout">Logout</a></li>
      </ul>
    </nav>
    <h1>Your name is {{ current_user.username }}</h1>
    <h1>You are logged in</h1>
    <h1>Streak: {{ current_user.streak }}</h1>
  </body>
</html>