<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Pages</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/social">Social</a></li>
        <li><a class="active" href="/pages">Pages</a></li>
        <li style="float:right"><a class="logout" href="/logout">Logout</a></li>
      </ul>
    </nav>
    <h1>Upload Page</h1>
    <form method="post" enctype=multipart/form-data>
    <input type=file name=file>
    <input type="submit" name="submit_button" value="upload">
    <h1>Pages</h1>
    {% for page in pages %}
    <button type="submit" name="submit_button" value="{{ page }}">Launch {{ page }}</button>
    {% endfor %}
    </form>
  </body>
</html>