<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Templates</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/social">Social</a></li>
        <li><a href="/pages">Pages</a></li>
        <li><a class="active" href="/templates">Templates</a></li>
        <li style="float:right"><a class="logout" href="/logout">Logout</a></li>
      </ul>
    </nav>
    <h1>Templates</h1>
    {% for page in templates %}
    <form action="#" method="post">
      <button type="submit" name="submit_button" value="{{ page }}">Add {{ page }}</button>
    </form>
    {% endfor %}
  </body>
</html>